/*
    ! =========== ! Button ===========
*/

/* Changing the color of the button when you hover over it. */
.btn:hover {
    background-color: var(--theme__color--input) !important;
    box-shadow: inset 2px 1px 5px 0 #0d0d0d;
    color: var(--theme__color) !important;
}

.to-high {
    box-shadow: 4px 6px 0px 0px #7fb414, 0px 0px 0px 0px #000000;
}

.to-low {
    box-shadow: inset 4px 4px 4px 0px #000000, inset 0px 0px 0px 0px #000000;
}

/*
    ! =========== ! END ===========
*/
