/*
    ! =========== ! Side Menu ===========
*/

.side__menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--theme__color--input);
    box-shadow: inset rgb(0 0 0) 0px 0px 10px 0px;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
    text-align: center;

    &--header {
        color: var(--theme__color);
        text-shadow: 0px 0px 1px black;
    }

    &--open {
        right: 0px;
        position: absolute;
        top: 36.5%;
    }

    &--close {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px !important;
        margin-left: 50px;
    }

    &--btn {
        color: var(--theme__color--input);
        margin-top: 0;
        height: 6rem;
        border-radius: 50px 0 0 50px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }
}

/*
    ! =========== ! END ===========
*/
