/* 
    Guess right section of screen
*/

.check__input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &--number {
        width: 50%;
        height: 50px;
        text-align: center;
    }
}
