/*
    ! =========== ! Secret number ===========
*/

.secret-number {
    font-size: 6rem;

    &__row {
        justify-content: center;
    }

    &__col {
        width: 45% !important;
    }
}

.number__to-high {
    box-shadow: 2px 2px 4px 0px #0d0d0d;
}
.number__to-low {
    box-shadow: inset 2px 2px 4px 0px #0d0d0d;
}
.number__correct {
    background-color: var(--theme__color--input);
    color: var(--theme__color);
    box-shadow: inset 2px 2px 3px 0px var(--theme__color),
        inset -1px -1px 3px 0px var(--theme__color);
}

/*
    ! =========== ! END ===========
*/
