/*
    ! =========== ! Wrapper ===========
*/

/* Centering the text, wrapping the text, and aligning the content. */
.wrapper {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    // A mixin that is defined in the `_mixins.scss` file.
    @include text-style;
}

/*
    ! =========== ! END ===========
*/
