/*
    ! =========== ! Wrapper ===========
*/

.wrapper {
    // height: 100vh;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    @include text-style;
}

/*
    ! =========== ! END ===========
*/
